.reviewsList {
    gap: 10px;
    display: flex;
    width: 100vw;
    padding: 25px;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.reviewsTitle {
margin: 0;
}
.reviewsText {
    margin: 0;
}