.castList {
    padding: 5px;
    gap: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.castItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.castTitle {
    margin: 0;
}
.castText {
    margin: 0;
}